body{
    margin-bottom:20px;    
    }

    .header{
        background-color: burlywood;
   

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
       
       
      
    }
  .header img{
      width: 120px;
      height: 60px;
      background-size: cover;
      margin: 0%;
      margin-left: 20px;
    
  }
    .header .menu a{
   
        font-family: fantasy;
     
      text-decoration: none;
      color: white;
      padding: 2px 20px;
  }
  .header .menu ul{
    display: flex;
    list-style: none;

      
      
  }
  

  .menu a:hover{
      background-color:rgba(238, 233, 236, 0.3);
      cursor: grab;
      padding:22px 20px ;
      transition-delay: 250ms;
  }
  .dropdown-content{
    position: absolute;
    overflow: hidden;
    max-height: 0;
}

      .ikona {
      cursor: pointer;
    margin-right: 60px;
    display: flex;
    align-items: center;

     
    
  
     
  }
 
  .ikona a{
      width: 15px;
      height: 15px;
     color: white;
     font-size: 20px;
    
  margin-left: 50px;
 
   
    text-decoration: none;
    
 }
 .footer{
    background-color: gray;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}
.footer .ikona1{
    padding: 1rem 0;
}
.footer .ikona1 a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color: #fff;
   
    border-radius: 50%;
    text-decoration: none;
    margin-left: 5px;
}

.footer .ikona1 .fa-facebook:hover{
    background-color: #4267B2;
    color: white;
    transition-delay: 300ms; 
}

.footer .ikona1 .fa-instagram:hover{
background-color:#E1306C;
color: white;
transition-delay: 300ms; 
}

.footer .ikona1 .fa-twitter:hover{
background-color: #1DA1F2;
color: white;
transition-delay: 300ms; 
}
.footer .ikona1 .fa-whatsapp:hover{
background-color: #25D366;
color: white;
transition-delay: 300ms; 
}
.footer .ikona1 .fa-phone:hover{
   background-color: #25D366;
   color: white;
   transition-delay: 300ms;

}
.footer .links{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 1.5rem;
}
.footer .links a{
    border: 1px solid white;
    padding: .5rem 2.3rem;
    text-decoration: none;
    font-size:1.2rem;
    color: white;
   
}
.footer .links a:hover{
    color: red;
}

.footer .copyright{
    font-size: 1.1rem;
    color: white;
    font-weight: lighter;

}
.footer .copyright span{
    color: gold;
    font-size: 0.6cm;
}
    .mapouter{
        display: flex;
        align-items: center;
        margin-top: 50px;
        background-color: gray;
        padding: 20px;
        margin-left: 55px;
       
    }
    
    .gmap_canvas{
  position: relative;
  
    }
  .row {     
     position: relative;
    display: flex;
    flex: 1 1 10px;
    justify-content: center;
    top:1%;
  }
  .kolona1{
      background-color:#030f27;
      width: 600px;
      height: 500px;
      padding: 20px;
   
  
  }
  .kolona2{
      background-color:  #fdbe33;
      width: 600px;
      height: 500px;
      padding: 20px;
  }
  .nenkolona1{
      position: relative;
      border: 1px solid rgba(256, 256, 256, .2);
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
  
   
  }
  .nenkolona-icon .fa-building{
      font-size: 40px;
  }
  .nenkolona-icon .fa-phone{
      font-size: 40px;
  }
  .nenkolona-icon .fa-envelope{
      font-size: 40px;
  }
  .nenkolona-icon{
      position: relative;
    margin-top: 30px;
    color: #fdbe33;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .texti{
      position: relative;
      left: 40px;
      top:-3;
      line-height: 0.6;
  }
  .texti h3{
      font-size: 25px;
      color: goldenrod;
  }
  .texti p{
  
      color: white;
      font-size: 20px;
  }
  .kontakti{
      border-color: rgba(256, 256, 256, .4);
      border-width: 1px;   
      margin-top: 20px;
      
   
      color: white;
  }
   /*input[type=text]{
      width:100%;
      background: transparent;
      padding: 12px;
      font-size: 20px;
  
      
    
  }
   */ 
   .kon::placeholder{
      color:#fff;
      opacity: 1;
  } 
   .kon::-ms-input-placeholder{
      color:#fff;
  } 
  .kon::-ms-input-placeholder{
      color:#fff;
  } 
  
  
  /*
  textarea{
      background: transparent;
      width: 100%;
      height: 170px;
      color: white;
  
      font-size: 20px;
  }
  
  */
  .kontakti input:focus,
  .kontakti textarea{
      box-shadow: none;
  }
    .row a{
        position: relative;
      padding: 20px 45px;
      font-size: 20px;
      background: #030f27;
      color: #fdbe33;
      text-decoration: none;
      top: 40px;
  }
  a:hover{
      background-color: #fff;
      color: black;
  }
  .kontaktiren{
      text-align: center;
      line-height: 0.2;
      margin-top: 20px;
  
  }
  .kontaktiren p{
      color: #fdbe33;
      font-size:20px;
      font-weight:bold;
  }
  .kontaktiren h3{
      font-size:35px;
  }
  